@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,600");
@import url("https://fonts.googleapis.com/css?family=Cardo:400i");
ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }

.wrapper {
  width: 70% !important;
  margin: auto !important; }

.u-case {
  text-transform: uppercase !important; }

a {
  color: #ffff;
  text-decoration: none; }

a:hover {
  color: #e8ecee; }

html {
  font-size: 0.81vw; }

@font-face {
  font-family: "EI";
  src: url("../fonts/ElegantIcons.eot?") format("eot"), url("../fonts/ElegantIcons.woff2") format("woff2"), url("../fonts/ElegantIcons.woff") format("woff"), url("../fonts/ElegantIcons.ttf") format("truetype"), url("../fonts/ElegantIcons.svg#EI") format("svg"); }

.i:before {
  text-align: center !important;
  font-size: 12.5rem !important;
  font-family: 'EI';
  color: white; }
  @media screen and (min-width: 768px) {
    .i:before {
      font-size: 6.5rem !important; } }
  @media screen and (min-width: 992px) {
    .i:before {
      font-size: 2rem !important; } }

.i-facebook:before {
  content: "\e093"; }

.i-twitter:before {
  content: '\e094'; }

.i-linkedin:before {
  content: "\e09d"; }

.button {
  color: #ffff;
  font-family: "Raleway";
  font-weight: 600;
  text-transform: uppercase;
  font-size: 3rem;
  background-color: #e84545;
  height: 3em;
  border: none;
  cursor: pointer;
  transition: transform 250ms ease-in; }
  @media screen and (min-width: 992px) {
    .button {
      font-size: 1.5rem; } }

@-webkit-keyframes button {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px); }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); } }

@keyframes button {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px); }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); } }

@-webkit-keyframes button-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); } }

@keyframes button-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); } }

.button {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0); }

.button:hover, .button:focus, .button:active {
  -webkit-animation-name: button-float, button;
  animation-name: button-float, button;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate; }

.header {
  background-image: url("../images/banner.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #ffff;
  text-align: center;
  font-size: 3rem;
  padding-top: 5em; }
  @media screen and (min-width: 992px) {
    .header {
      padding: 0;
      font-size: 1rem; } }
  .header .nav {
    position: fixed;
    z-index: 1000;
    background: #53354a;
    top: 0;
    width: 100% !important;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    color: #ffff; }
    @media screen and (min-width: 992px) {
      .header .nav {
        width: 70% !important;
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15);
        background: transparent;
        position: static; } }
    .header .nav__go-top {
      display: none;
      width: 2.5em;
      height: 2.5em;
      border: 1.5px solid #e8ecee;
      border-radius: 50%;
      background: #53354a;
      color: white;
      position: fixed;
      transition: 250ms ease-in;
      cursor: pointer;
      z-index: 100;
      font-size: 3em;
      left: 76%;
      top: 82.5%; }
      @media screen and (min-width: 576px) {
        .header .nav__go-top {
          font-size: 1.8em;
          left: 83.5%; } }
      @media screen and (min-width: 992px) {
        .header .nav__go-top {
          font-size: 3em;
          left: 87.5%; } }
    .header .nav__go-top:hover {
      background: #e84545; }
    .header .nav__burger-nav {
      cursor: pointer;
      padding-right: 3em;
      fill: #ffff; }
      @media screen and (min-width: 992px) {
        .header .nav__burger-nav {
          display: none; } }
    .header .nav__logo {
      padding: 2.5em 5em;
      width: 12em; }
      @media screen and (min-width: 992px) {
        .header .nav__logo {
          padding: 2.5em 0; } }
    .header .nav__list {
      display: none;
      transition: 250ms transform ease-out 100ms;
      transform-origin: top;
      font-family: "Raleway";
      font-size: 2em;
      position: absolute;
      top: 99%;
      width: 100%;
      background: #53354a; }
      @media screen and (min-width: 992px) {
        .header .nav__list {
          position: static;
          background: transparent;
          font-size: 1.3em;
          width: auto;
          display: flex !important;
          flex-wrap: wrap;
          justify-content: space-around; } }
      .header .nav__list-item {
        padding: 1em 1.2em;
        opacity: 0.75; }
        @media screen and (min-width: 992px) {
          .header .nav__list-item {
            padding: 0 1.2em; } }
      .header .nav__list > li:last-of-type {
        padding-right: 0; }
  .header .purpose {
    padding: 10em 0; }
    .header .purpose__slogan {
      font-family: "Open Sans";
      width: 60%;
      margin: auto;
      font-size: 4em;
      font-weight: 700; }
    .header .purpose__caption {
      font-family: "Raleway";
      width: 65%;
      font-size: 1.4em;
      margin: auto;
      margin-top: 1.875em; }
    .header .purpose__button {
      width: 12.5em;
      margin-top: 4.8125em; }

.features {
  padding: 3rem 0 7.75rem 0; }
  .features ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .features ul .feature {
      box-sizing: border-box;
      text-align: center;
      font-size: 5rem;
      margin-top: 4.625em;
      width: 100% !important;
      font-family: "Raleway"; }
      @media screen and (min-width: 768px) {
        .features ul .feature {
          font-size: 2.5rem;
          width: 45% !important; } }
      @media screen and (min-width: 992px) {
        .features ul .feature {
          font-size: 1.5rem;
          width: 28% !important; } }
      .features ul .feature__icon {
        font-family: 'EI';
        font-size: 4em;
        font-weight: 100;
        color: #e84545;
        margin: auto; }
      .features ul .feature__header {
        margin-top: 1.5em;
        margin-bottom: 0.75em; }
      .features ul .feature__description {
        color: #6c7279;
        margin: 0; }

.works-list {
  display: flex;
  flex-wrap: wrap; }
  .works-list__item {
    position: relative;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid #ffff;
    width: 100% !important;
    height: 60vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; }
    .works-list__item .flex-wrapper {
      background-color: rgba(232, 69, 69, 0.9);
      height: 100%;
      display: none;
      text-align: center; }
      .works-list__item .flex-wrapper div {
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        color: #ffff;
        font-family: "Raleway";
        font-size: 5em; }
        @media screen and (min-width: 768px) {
          .works-list__item .flex-wrapper div {
            font-size: 3em !important; } }
        @media screen and (min-width: 992px) {
          .works-list__item .flex-wrapper div {
            font-size: 2em !important; } }
        @media screen and (min-width: 992px) {
          .works-list__item .flex-wrapper div {
            font-size: 1.5em !important; } }
        .works-list__item .flex-wrapper div h1 {
          margin-top: 0 !important; }
    .works-list__item:nth-child(n+4) {
      display: none; }
    @media screen and (min-width: 768px) {
      .works-list__item {
        display: block !important;
        width: 50% !important;
        height: 40vw; } }
    @media screen and (min-width: 992px) {
      .works-list__item {
        width: 25% !important;
        height: 30vw; } }

.team {
  margin-top: 6.3rem !important;
  margin-bottom: 6.3rem !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: "Raleway"; }
  .team-member {
    font-size: 5rem;
    border: 1px solid #e8ecee;
    padding: 1em;
    width: 100% !important;
    text-align: center; }
    .team-member:not(:last-child) {
      margin-bottom: 5rem; }
    .team-member__photo {
      width: 85%;
      display: block;
      margin: auto; }
    @media screen and (min-width: 768px) {
      .team-member {
        border: none;
        padding: 0;
        font-size: 3rem;
        text-align: left;
        width: 45% !important; }
        .team-member__photo {
          width: 100%; } }
    @media screen and (min-width: 992px) {
      .team-member {
        margin-bottom: 0 !important;
        font-size: 1.6rem;
        width: 23% !important; } }
    .team-member__initials {
      font-size: 1.375em;
      margin-bottom: 0.5em; }
    .team-member__position {
      font-size: 0.8em;
      margin: 0;
      color: #e84545; }
    .team-member__about {
      margin: 1.5em 0;
      font-size: 0.9em; }
    .team-member__contacts-list {
      display: flex;
      justify-content: space-around; }
      @media screen and (min-width: 992px) {
        .team-member__contacts-list {
          justify-content: flex-start; } }
    .team-member__contact {
      border: 1px solid #e8ecee;
      padding: 0.5em; }
      .team-member__contact:not(:last-of-type) {
        margin-right: 0.5em; }
    .team-member__contact a::before {
      color: #e8ecee; }

.slider__descriptions,
.slider .slide {
  height: 65vw;
  font-size: 2rem; }
  @media screen and (min-width: 992px) {
    .slider__descriptions,
    .slider .slide {
      height: 28vw; } }

.slider__slides {
  position: relative; }
  .slider__slides .slide {
    position: absolute;
    width: 70%;
    background-position-x: 60% !important;
    background-position-y: center !important;
    transform: scale(0, 1);
    opacity: 0; }
    @media screen and (min-width: 992px) {
      .slider__slides .slide {
        width: 50%; } }
  .slider__slides .active {
    z-index: 10 !important;
    transition: opacity 500ms ease-in-out;
    transform-origin: left;
    transform: scale(1, 1);
    opacity: 1;
    display: block; }

.slider__descriptions {
  position: relative;
  width: 30%;
  left: 70%;
  box-sizing: border-box;
  background: #53354a;
  color: #ffff;
  padding: 5.3rem 7.2rem 5.3rem 5.3rem; }
  @media screen and (min-width: 992px) {
    .slider__descriptions {
      width: 50%;
      left: 50%; } }
  .slider__descriptions .description {
    font-size: 2rem;
    width: 70%;
    display: none; }
    @media screen and (min-width: 992px) {
      .slider__descriptions .description {
        font-size: 1.5rem; } }
    .slider__descriptions .description__quote {
      font-family: "Cardo";
      font-style: italic;
      font-size: 2.2em;
      margin: 0;
      margin-bottom: 1em; }
    .slider__descriptions .description__position {
      font-size: 0.8em;
      font-family: "Raleway";
      font-weight: bold; }
  .slider__descriptions .active {
    display: inline; }

.slider__controls {
  position: absolute;
  top: 75%;
  left: 40%;
  margin: auto;
  width: 20%;
  display: flex;
  justify-content: space-around; }
  .slider__controls .control {
    width: 1vw;
    height: 1vw;
    border: 1px solid transparent;
    border-radius: 50%;
    background: #ffff;
    opacity: 0.2; }
  .slider__controls .active {
    opacity: 1; }

.download {
  font-size: 4.5rem;
  padding: 6.25em 0;
  text-align: center; }
  @media screen and (min-width: 992px) {
    .download {
      font-size: 1.5rem; } }
  .download__title {
    font-family: "Raleway";
    font-size: 1.75em;
    font-weight: 300 !important;
    opacity: 0.8;
    margin: 0; }
  .download__description {
    font-family: Raleway;
    font-weight: 700;
    font-size: 0.8em;
    margin: 1vw 0 2.5em 0; }
  .download__button {
    width: 17.5em; }

.footer {
  background: #3a3e64;
  text-align: center;
  color: #ffff;
  font-family: "Raleway";
  font-size: 5rem; }
  @media screen and (min-width: 768px) {
    .footer {
      font-size: 3rem; } }
  @media screen and (min-width: 992px) {
    .footer {
      font-size: 1.1rem; } }
  .footer h3,
  .footer p {
    margin: 0; }
  .footer .wrapper {
    padding: 6em 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    @media screen and (min-width: 992px) {
      .footer .wrapper {
        justify-content: space-around; } }
    .footer .wrapper > div {
      width: 80%; }
      .footer .wrapper > div:not(:first-child) {
        margin-top: 4em; }
      @media screen and (min-width: 992px) {
        .footer .wrapper > div {
          width: 25%;
          margin: 0 !important; } }
      .footer .wrapper > div > h3 {
        margin-bottom: 1.4em; }
      .footer .wrapper > div > p {
        opacity: 0.5; }
  .footer__share .share-options {
    display: flex;
    justify-content: space-around; }
    .footer__share .share-options__option {
      padding: 0.5em;
      border: 1.5px solid #ffff;
      border-radius: 5%; }
  .footer__bottom {
    background: #313454;
    padding: 1.81em; }
    .footer__bottom .copyright__text-dim {
      opacity: 0.5; }
    .footer__bottom .copyright__with-love, .footer__bottom .copyright__author {
      opacity: 1; }
    .footer__bottom .copyright__with-love {
      color: red; }
