.download {
    font-size: 4.5rem;
    @media screen and (min-width: $screen-lg-min) {
        font-size: 1.5rem;
    }
    padding: 6.25em 0;
    text-align: center;
    &__title {
        font-family: $font-railway;
        font-size: 1.75em;
        font-weight: 300 !important;
        opacity: 0.8;
        margin: 0;
    }
    &__description {
        font-family: Raleway;
        font-weight: 700;
        font-size: 0.8em;
        margin: 1vw 0 2.5em 0;
    }
    &__button {
        width: 17.5em;
    }
}