.features {
    padding: 3rem 0 7.75rem 0;
    ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .feature {
            box-sizing: border-box;
            text-align: center;
            font-size: 5rem;
            margin-top: 4.625em;
            width: 100% !important;
            @media screen and (min-width: $screen-md-min) {
                font-size: 2.5rem;
                width: 45% !important;                
            }
            @media screen and (min-width: $screen-lg-min) {
                font-size: 1.5rem;
                width: 28% !important;                
            }
            font-family: $font-railway;
            &__icon {
                font-family: 'EI';
                font-size: 4em;
                font-weight: 100;
                color: #e84545;
                margin: auto;
            }
            &__header {
                margin-top: 1.5em;
                margin-bottom: 0.75em;
            }
            &__description {
                color: $color-grey;
                margin: 0;
            }
        }
    }
}