.footer {
    background: $color-dark-violet;
    text-align: center;
    color: $color-white;
    font-family: $font-railway;
    font-size: 5rem;
    @media screen and (min-width: $screen-md-min) {
        font-size: 3rem;    
    }
    @media screen and (min-width: $screen-lg-min) {
        font-size: 1.1rem
    }
    h3, 
    p {
        margin: 0;
    }
    .wrapper {
        padding: 6em 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;            
        @media screen and (min-width: $screen-lg-min) {
            justify-content: space-around;
        }
        & > div {
            &:not(:first-child) {
                margin-top: 4em;
            }
            width: 80%;
            @media screen and (min-width: $screen-lg-min) {
                width: 25%;
                margin: 0 !important;
            }
            & > h3 {
                margin-bottom: 1.4em;
            }
            & > p {
                opacity: 0.5;
            }
        }
    }
    &__share {
        .share-options {
            display: flex;
            justify-content: space-around;
            &__option {
                padding: 0.5em; 
                border: 1.5px solid $color-white;
                border-radius: 5%; 
            }
        }

    }

    &__bottom {
        background: $color-very-dark-violet;
        padding: 1.81em;
        .copyright {
            &__text-dim {
                opacity: 0.5;
            }
            &__with-love,
            &__author {
                opacity: 1;
            }
            &__with-love {
                color: $color-red;
            }
        }
    }
}