.header {
    @include background-image('../images/banner.jpg', cover, fixed);
    color: $color-white;
    text-align: center;
    font-size: 3rem;
    padding-top: 5em;
    @media screen and (min-width: $screen-lg-min) { 
        padding: 0;
        font-size: 1rem;
    }
    .nav {
        position: fixed;
        z-index: 1000;
        background: $color-violet;

        top: 0;
        width: 100% !important;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        color: $color-white;
        @media screen and (min-width: $screen-lg-min) {
            width: 70% !important;
            box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15);
            background: transparent;
            position: static;
        }
        &__go-top {
            display: none;
            width: 2.5em;
            height: 2.5em;
            border: 1.5px solid $color-lightgrey;
            border-radius: 50%; 
            background: $color-violet;
            color: white;
            position: fixed;
            transition: 250ms ease-in;
            cursor: pointer;
            z-index: 100;

            font-size: 3em;
            left: 76%;
            top: 82.5%;
            @media screen and (min-width: $screen-sm-min) {
                font-size: 1.8em;
                left: 83.5%;
            }
            @media screen and (min-width: $screen-lg-min){
                font-size: 3em;
                left: 87.5%;
            }
        }
        &__go-top:hover {
            background: $color-bright-red;
        }
        &__burger-nav {
            cursor: pointer;
            padding-right: 3em;
            fill: $color-white;
            @media screen and (min-width: $screen-lg-min) {
                display: none;    
            }
        }
        &__logo {
            padding: 2.5em 5em;
            width: 12em;
            @media screen and (min-width: $screen-lg-min){
                padding: 2.5em 0;
            }
        }
        &__list {
            display: none;
            transition: 250ms transform ease-out 100ms;
            transform-origin: top;
            font-family: $font-railway;
            font-size: 2em;
            position: absolute;
            top: 99%;
            width: 100%;
            background: $color-violet;
            @media screen and (min-width: $screen-lg-min){
                position: static;
                background: transparent;
                font-size: 1.3em;
                width: auto;
                display: flex !important;
                flex-wrap: wrap;
                justify-content: space-around;
            }
            &-item {
                padding: 1em 1.2em;
                opacity: 0.75;
                @media screen and (min-width: $screen-lg-min){
                    padding: 0 1.2em;
                }
            }
            & > li:last-of-type {
                padding-right: 0;
            }
        }
    }
    
    .purpose {
        padding: 10em 0;
        &__slogan {
            font-family: $font-open-sans;
            width: 60%;
            margin: auto;
            font-size: 4em;
            font-weight: 700;
        }
        &__caption {
            font-family: $font-railway;
            width: 65%;
            font-size: 1.4em;
            margin: auto;
            margin-top: 1.875em;
        }
        &__button {
            width: 12.5em;
            margin-top: 4.8125em
        }
    }
}