.slider {
    &__descriptions,
    .slide {
        height: 65vw;
        @media screen and (min-width: $screen-lg-min) {
            height: 28vw;
        }
        font-size: 2rem;
    }
    
    
    &__slides {
        position: relative;
        .slide {
            position: absolute;
            width: 70%;
            background-position-x: 60% !important;
            background-position-y: center !important;
            transform: scale(0, 1);
            opacity: 0;
            @media screen and (min-width: $screen-lg-min) {
                width: 50%
            }
        }
        .active {
            z-index: 10 !important;
            transition: opacity 500ms ease-in-out;
            transform-origin: left;
            transform: scale(1, 1);
            opacity: 1;
            display: block;
        }
    }
    &__descriptions {
        position: relative;
        
        width: 30%;
        left: 70%;
        
        box-sizing: border-box;
        background: $color-violet;
        color: $color-white;
        padding: 5.3rem 7.2rem 5.3rem 5.3rem;
        
        @media screen and (min-width: $screen-lg-min) {
            width: 50%;
            left: 50%
        }
        
        .description {
            font-size: 2rem;
            @media screen and (min-width: $screen-lg-min) {
                font-size: 1.5rem;                
            }
            
            width: 70%;
            display: none;
            &__quote {
                font-family: $font-cardo;
                font-style: italic;
                font-size: 2.2em;
                margin: 0;
                margin-bottom: 1em;
            }
            &__position {
                font-size: 0.8em;
                font-family: $font-railway;
                font-weight: bold;
            }
        }
        .active {
            display: inline;
        }
    }
    &__controls {
        position: absolute;
        top: 75%;
        left: 40%;
        margin: auto;
        width: 20%;
        display: flex;
        justify-content: space-around;
        .control {
            width: 1vw;
            height: 1vw;
            border: 1px solid transparent;
            border-radius: 50%;
            background: $color-white;
            opacity: 0.2;
        }
        .active {
            opacity: 1;
        }
    }
}
