.team {
    margin-top: 6.3rem !important;
    margin-bottom: 6.3rem !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: $font-railway;
    &-member {
        font-size: 5rem;
        border: 1px solid $color-lightgrey;
        padding: 1em;
        width: 100% !important;
        text-align: center;
        &:not(:last-child) { 
            margin-bottom: 5rem;
        }
        &__photo {
            width: 85%;
            display: block;
            margin: auto;
        }
        @media screen and (min-width: $screen-md-min) {
            border: none;
            padding: 0;
            font-size: 3rem;
            text-align: left;
            width: 45% !important;
            &__photo {
                width: 100%;
            }
        }
        @media screen and (min-width: $screen-lg-min){
            margin-bottom: 0 !important;
            font-size: 1.6rem;
            width: 23% !important;
        }

        &__initials {
            font-size: 1.375em;
            margin-bottom: 0.5em;
        }
        &__position {
            font-size: 0.8em;
            margin: 0;
            color: $color-bright-red;
        }
        &__about {
            margin: 1.5em 0;
            font-size: 0.9em;
        }
        &__contacts-list {
            display: flex;
            justify-content: space-around;
            @media screen and (min-width: $screen-lg-min) {
                justify-content: flex-start;
            }
        }
        &__contact {
            border: 1px solid $color-lightgrey;
            padding: 0.5em;
            &:not(:last-of-type) {
                margin-right: 0.5em;
            }
        }
        &__contact a::before{
            color: $color-lightgrey;
        }
    }
}