.works {
    &-list {
        display: flex;
        flex-wrap: wrap;
        &__item {
            position: relative;
            .flex-wrapper {
                background-color: rgba(232, 69, 69, 0.9);
                height: 100%;
                display: none;
                text-align: center;
                div {
                    top: 50%;
                    left: 50%;
                    position: absolute;
                    transform: translate(-50%, -50%);
                    color: $color-white;
                    font-family: $font-railway;
                    font-size: 5em;
                    @media screen and (min-width: $screen-md-min) {
                        font-size: 3em !important;
                    }
                    @media screen and (min-width: $screen-lg-min) {
                        font-size: 2em !important
                    }
                    @media screen and (min-width: $screen-lg-min) {
                        font-size: 1.5em !important
                    }
                    h1 {
                        margin-top: 0 !important;
                    }
                }
            }
            cursor: pointer;
            box-sizing: border-box;
            border: 1px solid $color-white;
            width: 100% !important;
            height: 60vw;
            &:nth-child(n+4) {
                display: none;
            }
            @media screen and (min-width: $screen-md-min) {
                display: block !important;
                width: 50% !important;
                height: 40vw;
            }
            @media screen and (min-width: $screen-lg-min){
                width: 25% !important;
                height: 30vw;
            }
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
        }
    }
}