ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.wrapper {
    width: 70% !important;
    margin: auto !important;
}

.u-case {
    text-transform: uppercase !important;
}

a {
    color: $color-white;
    text-decoration: none;
}

a:hover {
    color: $color-lightgrey;
}

html {
    font-size: 0.81vw;
}