@include font-face("EI", "../fonts/ElegantIcons"); 

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,600');
@import url('https://fonts.googleapis.com/css?family=Cardo:400i');

.i {
    &:before {
        text-align: center !important;
        font-size: 12.5rem !important;
        @media screen and (min-width: $screen-md-min) {
            font-size: 6.5rem !important;
        }
        @media screen and (min-width: $screen-lg-min) {
            font-size: 2rem !important;            
        }
        font-family: 'EI';
        color: white;
    }

    &-facebook:before {
        content: "\e093";
    }
    &-twitter:before {
        content: '\e094'
    }
    &-linkedin:before {
        content: "\e09d";
    }
}

