$color-white: #ffff;
$color-red: red;
$color-bright-red: #e84545;
$color-violet: #53354a;
$color-dark-violet: #3a3e64;
$color-very-dark-violet: #313454;
$color-lightgrey: #e8ecee; 
$color-grey: #6c7279;

$font-open-sans: 'Open Sans';
$font-railway: 'Raleway';
$font-cardo: 'Cardo';

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;